* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* border: 0.5px solid black; */
}

body {
    margin: 0 auto;
    width: 1920px;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 25px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-left: 32px;
}

.logo h1 span {
    color: #ff42a5;
}

.navbar,
.follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.navbar h5 {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-left: 24px;
}

.follow-us {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 24px;
}

.follow-us img {
    margin-left: 15px;
}

.follow-us h5 {
    margin-left: 0;
}

/* navber end */

/* banner section */

.banner {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}

.banner-dis {
    background-image: url("./images/Group\ 14.png");
    background-size: cover;
    height: 700px;
    width: 901px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-dis h2 {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-dis h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list h5 {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-list h5 img {
    position: relative;
    top: 6px;
    left: -12px;
}

.btn {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    gap: 10px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
}

.btn2 {
    background: #4EC5F7;
}

.banner-img {
    margin-left: 60px;
}

/* banner section end */

/* online games */

.online-games {
    text-align: center;
    margin-bottom: 240px;
}

.games-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 35px;
}

.games {
    width: 342px;
    height: 400px;
    border-radius: 16px;
}

.game-1 {
    background-image: url("./images/Rectangle\ 4.png");
}

.game-2 {
    background-image: url("./images/Rectangle\ 5.png");
}

.game-3 {
    background-image: url("./images/Rectangle\ 7.png");
}

.game-4 {
    background-image: url("./images/Rectangle\ 6.png");
}

.games:hover {
    border-radius: 20px;
    border: 5px solid #ff41a5;
    background-color: rgb(57, 101, 138);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: #d41212;
    cursor: pointer;
}

.games div {
    opacity: 0;
    width: 342px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games div:hover {
    opacity: 1;
    cursor: pointer;
}

.online-games h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.online-games h2 samp {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games>p {
    color: #534C64;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.games p {
    font-size: 20px;
    font-weight: 600;
    color: #ff42a5;
}

.games>p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

/* online games end */

/* play section */

.play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

.play-dis h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
    text-align: right;
}

.play-dis h2 samp {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-dis p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
}

.play-dis {
    height: 300px;
    width: 341px;
    text-align: left;
    /* margin-left: 150px; */
    position: relative;
    right: -230px;
}

.play-img {
    display: flex;
    flex-direction: row-reverse;
}

.play-img {
    position: relative;
    width: 634.833px;
    height: 650px;
}

.play-img2 {
    width: 318.5px;
    height: 365.083px;
    position: absolute;
    bottom: -13%;
    left: -15%;
    margin: -50px 0 0 -50px;
}

/* play section end */

/* card section */

.card-sec {
    background-color: #fff9fc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 300px;
}

.card {
    border-radius: 50px;
    background: #FFF;
    width: 0 auto;
    height: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.card img {
    margin-right: 16px;
}

.card h4 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.card h4:hover {
    color: #ff42a5;
    cursor: pointer;
}

.card:hover {
    border: 1px solid #ff42a5;
    cursor: pointer;
}


/* play section end */

/* footer section */

footer {
    background: #0B0223;
    text-align: center;
    padding: 80px 0px 30px 0px;
}

.logo-footer h1 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.logo-footer h1 span {
    color: #FF42A5;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-list li {
    margin: 20px 20px 10px 20px;
}

.footer-img img {
    margin: 12px 15px 25px 15px;
}

.footer-list2 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-list2 li {
    margin: 5px 30px 20px 30px;
}


/* footer section end */

/* media quarie */

@media screen and (max-width: 425px) {

    /* navbar */
    body {
        width: auto;
    }

    nav,
    .navbar,
    .online-games,
    .games-cont,
    .play {
        flex-direction: column;
    }

    nav {
        padding: 25px 0;
    }

    .logo,
    .navbar {
        margin-bottom: 35px;
        padding: 0;
    }

    .navbar h5 {
        margin-bottom: 25px;
    }

    .follow-us h5 {
        margin-bottom: 0;
    }

    /* navbar end */

    /* banner section */

    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-dis {
        scale: 47%;
        position: relative;
        top: -320px;

    }

    .banner-img {
        scale: 58%;
        margin-left: 0;
    }

    /* banner section end */

    /* online game */

    .online-games {
        position: relative;
        top: -600px;
    }

    .games {
        margin-bottom: 50px;
        margin-top: 10px;
    }

    /* online game end */

    /* play section */

    .play {
        position: relative;
        top: -780px;
    }

    .play-dis {
        margin: auto;
        position: static;
    }

    .play-dis h2 {
        text-align: center;
        margin-bottom: 0;
    }

    .play-dis p {
        text-align: center;
    }

    .play-img {
        scale: 50%;
        text-align: center;
        margin-left: 60px;
        position: relative;
        top: -150px;
    }

    /* play section end */

    /* card section */

    .card-sec {
        padding: 0;
        background-color: #fff;
        position: relative;
        top: -1100px;
    }

    /* card section end */


}